.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

ion-header {
  --background: linear-gradient(to bottom, #ffffff, #d0d0d0);
}

ion-title.title {
  color: #51B1F7;
  --background: #ffff;
  font-size: 1.5rem;
}

ion-content {
  --margin: 10rem;
  --background: linear-gradient(to bottom, #ffffff, #d0d0d0);
}

ion-item {
  --background: transparent;
  margin-bottom: 10px;
}

ion-label {
  color: #333; /* Cor do rótulo */
}

ion-input {
  --background: #f0f0f0; /* Cor do campo de entrada */
}

ion-button.login-button {
  --background: #51B1F7;
  color: #fff;
  margin-top: 20px;
}

ion-button.register-button {
  --background: transparent;
  color: #51B1F7;
  text-decoration: underline;
}

