ion-content {
  --ion-background-color: linear-gradient(to bottom, #ffffff, #d0d0d0);
  margin: 0;
  padding: 0;
}

ion-header {
  --background: linear-gradient(to bottom, #ffffff, #d0d0d0);
  margin: 0;
  padding: 0;
}

ion-button {
  --background: #51B1F7;
  --color: rgb(255, 255, 255);
  --border-color: black;
  width: 250px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.reset-password {
  --background: transparentize(100);
  --background-hover: #FFFFFF;
  --color: #51B1F7;
  text-decoration: underline;
  width: 250px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.title {
  color: #51B1F7;
}
