ion-content {
  --ion-background-color: linear-gradient(to bottom, #ffffff, #679CB2);
  margin: 0;
  padding: 0;
}

h2 {
  text-decoration: underline;
  padding: 20px;
  font-weight: 700;
  color: black;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

ion-button {
  --color: black;
  --background: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0.5rem;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

ion-badge {
  --color: black;
  --background: #dcdcdc;
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 25%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button:active {
  --background: transparent;
  --box-shadow: none;
  --color: black;
}

.d {
  margin-left: 200px;
}

.down-label {
  display: flex;
  flex-direction: column;
  margin-left: 13rem;
}

.down-label ion-label {
  margin-top: 10px;
}
.feed-button{
  margin: 0px;
  font-size: 27px;
  padding: 0px;
  border: 0;
  margin-left: 60px;
  margin-right: 60px;
  --border-radius:50% ;
  --background: rgb(104, 104, 231);
}
.feed-button-text{
  font-weight: 700;
  color: white;
  padding: 90px;
  margin-top: 20px;
  margin-bottom: 20px;
}
ion-toolbar{
  --background: transparent !important;
  display: flex !important;
}

/* Adicione estas regras ao seu estilo existente */

.feed-button,
.auto-feed-button {
  --background: rgb(104, 104, 231);
  color: white;
  font-weight: 700;
  font-size: 14px; /* ajuste o tamanho da fonte conforme necessário */
  padding: 10px; /* ajuste o espaçamento interno conforme necessário */
  margin: 5px; /* ajuste a margem conforme necessário */
  --border-radius: 5px; /* ajuste o raio da borda conforme necessário */
}

.feed-button:active,
.auto-feed-button:active {
  --background: rgba(104, 104, 231, 0.8); /* ajuste a transparência conforme necessário */
}

/* Adicione essas regras para posicionar os botões lado a lado */
.buttons {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permite que os botões quebrem para a próxima linha se não houver espaço suficiente */
}

