<ion-content [fullscreen]="true">
  <ion-text>
    <h2>Aquário de [user]</h2>
  </ion-text>
  <div class="buttons">
    <ion-button>
      <strong>PH</strong>
      <ion-badge slot="end">5</ion-badge>
    </ion-button>
    <ion-button>
      <strong>O2</strong>
      <ion-badge slot="end">5</ion-badge>
    </ion-button>
    <ion-button>
      <strong>C°</strong>
      <ion-badge slot="end">5</ion-badge>
    </ion-button>
    <ion-button>
      <strong>NTU</strong>
      <ion-badge slot="end">5</ion-badge>
    </ion-button>
  </div>
</ion-content>
