ion-content {
  --ion-background-color: linear-gradient(to bottom, #ffffff, #679CB2);
  margin: 0;
  padding: 0;
}

h2 {
  text-decoration: underline;
  padding: 20px;
  font-weight: 700;
  color: black;
}

.buttons {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
}

ion-button {
  --color: black;
  --background: #ffff;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
  padding: 0.5rem;
  text-decoration: none;
  border: none;
  outline: none;
  cursor: pointer;
}

ion-badge {
  --color: black;
  --background: #dcdcdc;
  width: 40px;
  height: 40px;
  font-size: 16px;
  border-radius: 25%;
  margin-left: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

ion-button:active {
  --background: #ffff;
  --box-shadow: none;
  --color: black;
}

.down-label {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 13rem;
}

.down-label ion-label {
  margin-top: 10px;
}

.feed-button {
  margin: 0px;
  font-size: 27px;
  padding: 0px;
  border: 0;
  margin-left: 60px;
  margin-right: 60px;
  --border-radius: 50%;
  --background: rgb(104, 104, 231);
}

.feed-button-text {
  font-weight: 700;
  color: white;
  padding: 20px;
  margin-top: 50px;
  margin-bottom: 50px;
}

ion-toolbar {
  --background: transparent !important;
  display: flex !important;
}

.level-label {
  margin-left: -45px;
}

.ph-button strong {
  margin-right: 20px;
}
