<ion-content [fullscreen]="true" #contentRef>
  <ion-toolbar>
    <ion-text>
      <h2>Bem vindo ao seu aquário</h2>
    </ion-text>
    <ion-buttons slot="end">
      <ion-button (click)="doLogout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="buttons">
    <ion-button class="ph-button">
      <strong>PH</strong>
      <div class="down-label">
        <ion-badge slot="end">{{dataValue['ph']}}</ion-badge>
        <ion-label class="ideal-ph"><strong>Ideal: 7</strong> </ion-label>
      </div>
    </ion-button>
    <ion-button>
      <strong>Water Level</strong>
      <div class="down-label">
        <ion-badge slot="end">{{dataValue['temp']}}</ion-badge>
        <ion-label class="level-label"><strong> Ideal: 25°C</strong></ion-label>
      </div>
    </ion-button>

    <ion-button>
      <strong>C°</strong>
      <div class="down-label">
        <ion-badge slot="end">{{dataValue['water_level']}}</ion-badge>
        <ion-label><strong> Ideal: 2g/Mm</strong></ion-label>
      </div>
    </ion-button>
    <ion-button>
      <strong>NTU</strong>
      <div class="down-label">
        <ion-badge slot="end">{{dataValue['turbidity']}}</ion-badge>
        <ion-label><strong> Ideal:7.0</strong></ion-label>
      </div>
    </ion-button>
    <ion-button (click)="toggleAutoFeed()" class="auto-feed-button">
      <div class="auto-feed-button-text">
        {{ autoFeedEnabled ? 'Auto Feed: ON' : 'Auto Feed: OFF' }}
      </div>
    </ion-button>
    <ion-button class="feed-button" (click)="activate()">
      <div class="feed-button-text">
        FEED
      </div>
    </ion-button>
  </div>
 </ion-content>
