<ion-content [fullscreen]="true">
  <ion-toolbar>
    <ion-text>
      <h2>Aquário de [user]</h2>
    </ion-text>
    <ion-buttons slot="end">
      <ion-button (click)="doLogout()">
        <ion-icon name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
  <div class="buttons">
    <ion-button>
      <strong>PH</strong>
      <div class="down-label">
        <ion-badge slot="end">5</ion-badge>
        <ion-label><strong>Ideal: 7.0</strong></ion-label>
      </div>
    </ion-button>
    <ion-button>
      <strong>O2</strong>
      <div class="down-label">
        <ion-badge slot="end">5</ion-badge>
        <ion-label><strong> Ideal: 25°C</strong></ion-label>
      </div>
    </ion-button>
    <ion-button>
      <strong>C°</strong>
      <div class="down-label">
        <ion-badge slot="end">5</ion-badge>
        <ion-label><strong> Ideal: 2g/Mm</strong></ion-label>
      </div>
    </ion-button>
    <ion-button>
      <strong>NTU</strong>
      <div class="down-label">
        <ion-badge slot="end">5</ion-badge>
        <ion-label><strong> Ideal: 7.0</strong></ion-label>
      </div>
    </ion-button>
    <ion-button class="feed-button" (click)="lastRegistry()">
      <div class="feed-button-text">
        FEED
      </div>
    </ion-button>
    <ion-button (click)="toggleAutoFeed()" class="auto-feed-button">
      <div class="auto-feed-button-text">
        {{ autoFeedEnabled ? 'Auto Feed: ON' : 'Auto Feed: OFF' }}
      </div>
    </ion-button>
  </div>
</ion-content>
